attrs==20.3.0
importlib-metadata==3.3.0
iniconfig==1.1.1
numpy==1.19.4
packaging==20.8
pandas==1.1.5
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.0
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
